/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

.main-gradient-background {
    background-image: linear-gradient(
            180deg,
            hsl(78deg 85% 57%) 0%,
            hsl(77deg 86% 58%) 10%,
            hsl(77deg 87% 59%) 20%,
            hsl(76deg 89% 60%) 30%,
            hsl(76deg 90% 61%) 40%,
            hsl(75deg 91% 61%) 50%,
            hsl(74deg 92% 62%) 60%,
            hsl(74deg 93% 63%) 70%,
            hsl(73deg 95% 64%) 80%,
            hsl(72deg 96% 65%) 90%,
            hsl(71deg 98% 66%) 100%
    );
}

.bubbles {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    top: 0;
    left: 0;
}

.bubble {
    position: absolute;
    bottom: -100px;
    width: 15px;
    height: 15px;
    background: #1b1b1b99;
    border-radius: 50%;
    opacity: 0.5;
    animation: rise 10s infinite ease-in;
    z-index: -9;
}

.bubble:nth-child(1) {
    width: 15px;
    height: 15px;
    left: 10%;
    animation-duration: 8s;
}

.bubble:nth-child(2) {
    width: 15px;
    height: 15px;
    left: 20%;
    animation-duration: 5s;
    animation-delay: 1s;
}

.bubble:nth-child(3) {
    width: 15px;
    height: 15px;
    left: 35%;
    animation-duration: 7s;
    animation-delay: 2s;
}

.bubble:nth-child(4) {
    width: 15px;
    height: 15px;
    left: 50%;
    animation-duration: 11s;
    animation-delay: 0s;
}

.bubble:nth-child(5) {
    width: 15px;
    height: 15px;
    left: 55%;
    animation-duration: 6s;
    animation-delay: 1s;
}

.bubble:nth-child(6) {
    width: 15px;
    height: 15px;
    left: 65%;
    animation-duration: 8s;
    animation-delay: 3s;
}

.bubble:nth-child(7) {
    width: 15px;
    height: 15px;
    left: 70%;
    animation-duration: 12s;
    animation-delay: 2s;
}

.bubble:nth-child(8) {
    width: 15px;
    height: 15px;
    left: 80%;
    animation-duration: 6s;
    animation-delay: 2s;
}

.bubble:nth-child(9) {
    width: 15px;
    height: 15px;
    left: 70%;
    animation-duration: 5s;
    animation-delay: 1s;
}

.bubble:nth-child(10) {
    width: 15px;
    height: 15px;
    left: 25%;
    animation-duration: 10s;
    animation-delay: 4s;
}

@keyframes rise {
    0% {
        bottom: -100px;
        transform: translateX(0);
    }
    50% {
        transform: translate(100px);
    }
    100% {
        bottom: 1080px;
        transform: translateX(-200px);
    }
}